* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 25px;
}

.container h1 {
  text-align: center;
}

.form {
  background-color: #eeeeee;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
}

.form input,
select,
button {
  padding: 5px;
  border-radius: 12px;
}

button {
  background-color: black;
  color: #eeeeee;
}

button:hover {
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}

.btnEdit {
  margin: 0 10px 15px 30px;
}

.btnCrud {
  width: 50px;
  padding: 5px;
}
